**/android/captures/
**/android/**/GeneratedPluginRegistrant.java
**/android/.gradle
**/android/gradlew
**/android/gradlew.bat
**/android/**/gradle-wrapper.jar
**/android/local.properties
.atom/
bower_components=
/build/
.buildlog/
build/Release
*.class
coverage
.dart_tool/
**/doc/api/
.DS_Store
.env
.eslintcache
.firebase/
firebase-debug.log*
.flutter-plugins
.grunt
.history
.idea/
*.iml
!**/ios/**/default.mode1v3
!**/ios/**/default.mode2v3
!**/ios/**/default.pbxuser
!**/ios/**/default.perspectivev3
**/ios/**/DerivedData/
**/ios/Flutter/app.flx
**/ios/Flutter/App.framework
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/.generated/
**/ios/**/Icon?
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/Pods/
**/ios/**/profile
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/**/.sconsign.dblite
**/ios/ServiceDefinitions.json
**/ios/**/.symlinks/
**/ios/**/*sync/
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/xcuserdata
*.ipr
*.iws
lib-cov
.lock-wscript
*.log
logs
node_modules
.node_repl_history
.npm
npm-debug.log*
.nyc_output
.packages
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
*.pid
*.pid.lock
pids
.pub/
.pub-cache/
*.pyc
*.seed
.svn/
*.swp
*.tgz
.vscode/
yarn-debug.log*
yarn-error.log*
.yarn-integrity
dist/