<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>176793005702-rmq2h89o58g1lbe6bnqtg9rnllu8gv80.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.176793005702-rmq2h89o58g1lbe6bnqtg9rnllu8gv80</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>176793005702-7tqdaluv5ivgo73geifldhnts6dj14kq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCH_6MxE42i6S62k_1jNczL9ckp40H_gFs</string>
	<key>GCM_SENDER_ID</key>
	<string>176793005702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.code418.postboxGame</string>
	<key>PROJECT_ID</key>
	<string>the-postbox-game</string>
	<key>STORAGE_BUCKET</key>
	<string>the-postbox-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:176793005702:ios:471dddd78becfe8c1eab07</string>
	<key>DATABASE_URL</key>
	<string>https://the-postbox-game.firebaseio.com</string>
</dict>
</plist>
